/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Estilo para NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #007bff;
  color: white;
  position: sticky; 
  top: 0;
  z-index: 1000; 
}

.navbar h1 {
  font-size: 3;
  margin: 0;
}

.navbar a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(0, 24, 129);
}

/* Estilo para CartWidget */
.cart-widget {
  display: flex;
  align-items: center;
}

.cart-widget img {
  width: 30px;
  height: 30px;
}

.cart-widget span {
  margin-left: 0.5rem;
  font-weight: bold;
}

/* Estilo para ItemListContainer */
.item-list-container {
  text-align: center;
  margin: 2rem auto;
  background: white; 
  color: black; 
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


